/**
	AUTHOR: Daniel Neumann
**/

.textbox-label {
	font-size: 2em;
	font-weight: bold;
	color: #ffffff;
	background-color: rgba(10,10,10,0.7);
	border-radius: .5em;
	padding: .5em;
}

/* .system-menu-action styles copied from 
https://github.com/GNOME/gnome-shell/blob/master/data/theme/gnome-shell.css
GNOME Version 3.16
*/
.system-menu-action {
    color: #eeeeec;
    border-radius: 32px;
    padding: 13px;
    border: 1px solid #282c2c; 
}
.system-menu-action:hover, .system-menu-action:focus {
    background-color: rgba(238, 238, 236, 0.1);
    color: #eeeeec;
    border: none;
    padding: 14px; 
}
.system-menu-action:active {
    background-color: #215d9c;
    color: #ffffff; 
}
.system-menu-action > StIcon {
    icon-size: 16px; 
}


.settings-button {
    padding: 4px;
    /* border-radius: 4px; */
}

.settings-button:hover, .settings-button:focus {
    padding: 5px;
}

.settings-button > StIcon {
    icon-size: 15px;
}
